@font-face {
    font-family: 'Spartan';
    src: url('./assets/Fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
}

$base-grayColor: #525d66;
$base-greenColor: #6ab547;

* {
    font-size: 16px;
    font-family: 'Spartan';
    font-weight: 400
}

.page {
    width: 100%;
    overflow: hidden;
    height: 100vh;
    position: relative;
}
@media only screen and (min-width: 1366px) {
    .page {
      width: 1366px;
      margin: 0 auto 0 auto;
    }
  }

@import './Components/NavBar/NavBar';
@import './Components/SVG/Svg';
@import './Pages/Contact/Contact';
@import './Pages/Home/Home';
@import './Pages/Partner/Partner';
@import './Pages/Pharmacie/Pharmacie';
@import './Pages/Product/Product'