@font-face {
  font-family: "Spartan";
  src: url("./assets/Fonts/League_Spartan/LeagueSpartan-VariableFont_wght.ttf") format("truetype");
}
* {
  font-size: 16px;
  font-family: "Spartan";
  font-weight: 400;
}

.page {
  width: 100%;
  overflow: hidden;
  height: 100vh;
  position: relative;
}

.page1 {
  overflow: hidden;
  position: relative;
}

@media only screen and (min-width: 1366px) {
  .page {
    width: 1366px;
    margin: 0 auto 0 auto;
  }
}
@media only screen and (min-width: 1367px) {
  .page1 {
    width: 1366px;
    margin: 0 auto 0 auto;
  }
}
@media only screen and (min-width: 440px) {
  .notre-pharmacie-container > img {
    width: 70%;
    margin: 0 auto 0 auto;
  }
  .notre-equipe-container {
    position: relative;
    z-index: 10;
    transform: translateY(10%);
  }
  .notre-equipe-container > img {
    transform: translateY(10%);
    width: 70%;
    margin: 0 auto 0 auto;
  }
  .notre-equipe-container_Polygone {
    transition: rotate 2s;
    transform: translateY(0%);
  }
  .notre-equipe-container_Text {
    margin-top: 30px;
  }
  .pharmacie-info-container {
    transform: translateY(10%);
  }
  .pharmacie-info-container_Text {
    transform: translateY(-10%);
  }
}
@media not all and (min-width: 1000px) {
  .pharmacie-main-xl {
    display: none;
  }
}
@media only screen and (min-width: 1000px) {
  .pharmacie-main-sm {
    display: none;
  }
}
.navLink_Sm {
  transition: translate 400ms ease-in-out;
  color: white;
}
.navLink_Sm > li {
  box-shadow: rgb(65, 65, 65) 2px 2px 20px -2px;
  transition: translate 500ms ease-in-out, opacity 500ms ease-in-out;
  background-color: #525d66;
  border-bottom: 2px solid #6ab547;
  opacity: 0;
}
.navLink_Sm > li > a {
  display: block;
}
.navLink_Sm > span {
  transition: translate 500ms ease-in-out, opacity 500ms ease-in-out;
  background-color: #6ab547;
  opacity: 0;
}

.navLink_Lg > li {
  transition: transform 300ms;
  border-bottom: 2px solid transparent;
}
.navLink_Lg > li:hover {
  border-bottom: 2px solid #6ab547;
  transform: translateY(-15%);
}
.navLink_Lg > li > a {
  display: block;
}

.pharmaLg {
  background-color: #6ab547;
}

.navLink_Sm li:active {
  color: #6ab547;
  scale: 1.05;
}

.slideIn li:nth-child(1) {
  transition-delay: 0ms;
  translate: -100%;
  opacity: 1;
}
.slideIn li:nth-child(2) {
  transition-delay: 10ms;
  translate: -100%;
  opacity: 1;
}
.slideIn li:nth-child(3) {
  transition-delay: 20ms;
  translate: -100%;
  opacity: 1;
}
.slideIn li:nth-child(4) {
  transition-delay: 30ms;
  translate: -100%;
  opacity: 1;
}
.slideIn li:nth-child(5) {
  transition-delay: 40ms;
  translate: -100%;
  opacity: 1;
}
.slideIn span:nth-child(6) {
  transition-delay: 50ms;
  translate: -100%;
  opacity: 1;
}

.polyline_1 {
  opacity: 0.4;
  transform: translateX(100%);
  animation: slide 2s ease-in-out 0s forwards;
}

.polyline_2 {
  opacity: 0.5;
  transform: translateX(100%);
  animation: slide 2s ease-in-out 0.2s forwards;
}

.polyline-black_1 {
  opacity: 0;
  transform: translateY(0%);
  animation: opacityText 1s ease-in-out 4.5s forwards;
}

.polyline-black_2 {
  opacity: 0.5;
  transform: translateY(100%);
  animation: slideBlack 1s ease-in-out 3.5s forwards;
}

.containerSvg {
  width: 800px;
  height: 400px;
}

.containerSvg1 {
  width: 1000px;
  height: 400px;
}

.svgShadow {
  box-shadow: rgb(122, 122, 122) -10px 10px 10px -5px;
}

.photoSvg {
  transform: translateX(100%);
  animation: slide 1s ease-in-out 0.5s forwards;
}

.svg1-polyline-1, .svg1-polyline-2 {
  transform: translateX(100%);
}

.svg1-polyline-1 {
  animation: slide 1s ease-in-out 1s forwards;
}

.svg1-polyline-2 {
  animation: slide 1s ease-in-out 1.2s forwards;
}

.pharmaSvg {
  transform: translate(-100%);
  animation: slideBack 1s ease-in-out 1.7s forwards;
}

.svg2-polyline-1, .svg2-polyline-2 {
  transform: translateX(-100%);
}

.svg2-polyline-1 {
  animation: slideBack 1s ease-in-out 2s forwards;
}

.svg2-polyline-2 {
  animation: slideBack 1s ease-in-out 2.2s forwards;
}

@keyframes slideBlack {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes opacityText {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
@keyframes slideBack {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes slide {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.home-main {
  background-size: cover;
  background-position: top 10% right 30%;
  width: 100%;
}

.home-main_Green > span:nth-child(1) {
  z-index: 50;
  opacity: 0;
  animation: 2s opacity-Green 2s forwards;
}
.home-main_Green > span:nth-child(2) {
  z-index: 50;
  opacity: 0;
  animation: 2s opacity-Green 2.5s forwards;
}
.home-main_Green > span:nth-child(3) {
  z-index: 50;
  opacity: 0;
  animation: 2s opacity-Green 3s forwards;
}

.home-main_Black > p:nth-child(1) {
  opacity: 0;
  animation: 2s opacity-Green 5.5s forwards;
}
.home-main_Black > p:nth-child(2) {
  opacity: 0;
  animation: 2s opacity-Green 6s forwards;
}
.home-main_Black > p:nth-child(3) {
  opacity: 0;
  animation: 2s opacity-Green 6s forwards;
}
.home-main_Black > button {
  opacity: 0;
  animation: 2s opacity-Green 7s forwards;
}

.imageContainer > img {
  opacity: 0;
  animation: 2s opacity-Green 7s forwards;
}

.learnButton {
  background-color: #6ab547;
  color: white;
}

.pharmaSvg-text > h1:nth-child(1) {
  opacity: 0;
  animation: 1s opacity-Green 2.8s forwards;
}
.pharmaSvg-text > h2:nth-child(2) {
  opacity: 0;
  animation: 1s opacity-Green 3.2s forwards;
}
.pharmaSvg-text > p:nth-child(3) {
  opacity: 0;
  animation: 1s opacity-Green 3.6s forwards;
}
.pharmaSvg-text > p:nth-child(4) {
  opacity: 0;
  animation: 1s opacity-Green 4s forwards;
}
.pharmaSvg-text > p:nth-child(5) {
  opacity: 0;
  animation: 1s opacity-Green 4.4s forwards;
}
.pharmaSvg-text > button:nth-child(6) {
  opacity: 0;
  animation: 1s opacity-Green 5.5s forwards;
}

.photo-svg-text {
  opacity: 0;
  animation: 1s opacity-Green 2s forwards;
}

.victorHugo {
  opacity: 0;
  animation: 20s opacity-Green-a 4s infinite;
}

.learnMore-xl {
  background-color: #525d66;
}

@keyframes opacity-Green {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes opacity-Green-a {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.map-container {
  height: 800px;
}

.text-pharmacie {
  z-index: 50;
  position: absolute;
  top: 0;
  color: white;
  font-size: 40px;
  width: 400px;
}
.text-pharmacie > span {
  font-size: 30px;
}

.nyAntsika > h1, .nyAntsika span {
  opacity: 0;
  animation: 2s opacity-Green 3s forwards;
}

.double-container > img {
  transition: opacity 0.5s 0s;
  opacity: 0;
  position: relative;
  z-index: -20;
}
.double-container > svg {
  transition: opacity 0.5s 0.25s;
  opacity: 0;
}

.animation-1 > img {
  opacity: 1;
  transition: opacity 0.5s 0.5s;
  position: relative;
  z-index: -20;
}
.animation-1 > svg {
  opacity: 1;
  transition: opacity 1s 0s;
}

.social-link:hover > svg {
  transition: scale 0.3s ease-in-out, fill 0.3s ease-in-out;
  scale: 1;
}
.social-link:hover > svg {
  transition: scale 0.3s ease-in-out;
  scale: 1.1;
  fill: white;
}

.notre-pharmacie-container {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.notre-pharmacie-container_Polygone {
  position: absolute;
  z-index: 0;
  left: -300px;
  width: 1000px;
  height: 500px;
  transform: rotate(-15deg);
}
.notre-pharmacie-container > img, .notre-pharmacie-container_Text {
  color: white;
  position: relative;
  text-align: center;
  z-index: 1;
}
.notre-pharmacie-container > img > h1, .notre-pharmacie-container_Text > h1 {
  font-size: 1.5rem;
}
.notre-pharmacie-container > img > p, .notre-pharmacie-container_Text > p {
  font-size: 1.1rem;
  margin: 0 10px 0 10px;
}

.notre-equipe-container {
  position: relative;
  margin-top: 110px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.notre-equipe-container_Polygone {
  z-index: 0;
  position: absolute;
  left: -300px;
  width: 1000px;
  height: 500px;
  transform: rotate(15deg);
}
.notre-equipe-container > img, .notre-equipe-container_Text {
  z-index: 10;
  color: white;
  position: relative;
  text-align: center;
  z-index: 1;
}
.notre-equipe-container > img > h1, .notre-equipe-container_Text > h1 {
  font-size: 1.5rem;
}
.notre-equipe-container > img > p, .notre-equipe-container_Text > p {
  font-size: 1.1rem;
  margin: 0 10px 0 10px;
}

.pharmacie-info-container {
  height: 750px;
  position: relative;
  margin-top: 100px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.pharmacie-info-container_Polygone {
  z-index: -50;
  position: absolute;
  translate: -40%;
  top: 200px;
  width: 1500px;
  height: 800px;
  background-color: #6ab547;
  transform: rotate(-60deg);
  transform-origin: center;
}
.pharmacie-info-container > img, .pharmacie-info-container_Text {
  color: white;
  position: relative;
  text-align: center;
  z-index: 1;
}
.pharmacie-info-container > img > h1, .pharmacie-info-container_Text > h1 {
  font-size: 1.5rem;
}
.pharmacie-info-container > img > p, .pharmacie-info-container_Text > p {
  font-size: 1.1rem;
  margin: 0 10px 0 10px;
}

.map-sm {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 250px;
}
.map-sm > .maplibregl-control-container {
  display: none;
}

@media only screen and (min-width: 600px) {
  .notre-pharmacie-container_Polygone {
    transform: rotate(-90deg);
  }
  .notre-pharmacie-container_Text {
    width: 48%;
    text-align: left;
  }
  .notre-pharmacie-container_Text > h1 {
    font-size: 2rem;
  }
  .notre-pharmacie-container_Text > p {
    font-size: 1.3rem;
  }
  .notre-equipe-container {
    margin-top: 30px;
  }
  .notre-equipe-container > img {
    transform: translateY(0);
  }
  .notre-equipe-container_Polygone {
    transform: rotate(0deg);
    transform: translateY(10%);
    left: 0;
  }
  .notre-equipe-container_Text {
    transform: translateY(0);
  }
  .notre-equipe-container_Text > h1 {
    font-size: 2rem;
  }
  .notre-equipe-container_Text > p {
    font-size: 1.3rem;
  }
  .pharmacie-info-container {
    margin: 0;
  }
  .pharmacie-info-container_Polygone {
    translate: 0;
    transform: rotate(0deg);
  }
}
.pharmacieHouse_svg {
  transform: translateX(100%);
  animation: slide 2s ease-in-out 0.5s forwards;
}
.pharmacieHouse_photo {
  transform: translateX(-100%);
  animation: slideBack 2s ease-in-out 0.5s forwards;
}

.infirmier_svg {
  scale: 1.03;
  transform-origin: center;
  animation: focus 2s ease-in-out 0.5s infinite, rotateClic 1s ease-in-out infinite;
}

@media screen and (max-width: 1300px) {
  .infirmier_svg {
    scale: 1.5;
  }
}
@keyframes focus {
  0% {
    transform: translateX(0%);
  }
  10% {
    transform: translateX(0.3%);
  }
  30% {
    transform: translateX(0%);
  }
  50% {
    transform: translateX(0%);
  }
  70% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(0.3%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes rotateClick {
  0% {
    transform: rotateX(0deg);
  }
  100% {
    transform: rotateX(180deg);
  }
}
.productMain-Navbar {
  box-shadow: #525d66 0px 0px 18px -8px;
  background-color: #525d66;
}
.productMain-Navbar > .product-BrandContainer {
  display: none;
}
.productMain-Navbar > .product-LinkContainer {
  margin: 3rem auto 3rem auto;
  padding: 2rem 0 2rem 0;
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-row: 2;
  row-gap: 2rem;
}
.productMain-Navbar > .product-LinkContainer > li {
  white-space: nowrap;
  color: white;
  background-color: #6ab547;
  border-radius: 5px;
  transition: scale 0.2s;
}
.productMain-Navbar > .product-LinkContainer > li:active {
  scale: 1.1;
}
.productMain-Navbar > .product-LinkContainer > li > a {
  text-align: center;
  font-size: 1.1rem;
  display: block;
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}
.productMain-Navbar > .product-LinkContainer li:nth-child(1) {
  grid-column: 2/3;
  grid-row: 1;
}
.productMain-Navbar > .product-LinkContainer li:nth-child(2) {
  grid-column: 4/5;
  grid-row: 1;
}
.productMain-Navbar > .product-LinkContainer li:nth-child(3) {
  grid-column: 3/4;
  grid-row: 2;
}

.productMain-CardContainer {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
}
.productMain-CardContainer > .mainCard {
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  overflow: hidden;
  border-radius: 10px;
  width: 80%;
  margin: auto auto auto auto;
  box-shadow: #525d66 0px 0px 18px -8px;
  transition: scale 0.2s;
}
.productMain-CardContainer > .mainCard:active {
  scale: 1.05;
}
.productMain-CardContainer > .mainCard > img {
  width: 100%;
  height: 60%;
}
.productMain-CardContainer > .mainCard > .mainCard-Text_Container {
  background: linear-gradient(180deg, #525d66 -20%, #d0fabc 20%, #d0fabc 100%);
  padding: 1rem 1rem 1rem 1rem;
  height: -moz-max-content;
  height: max-content;
  color: #525d66;
}
.productMain-CardContainer > .mainCard > .mainCard-Text_Container > h1 {
  text-align: center;
  font-size: 2rem;
}
.productMain-CardContainer > .mainCard > .mainCard-Text_Container > span {
  font-size: 1.2rem;
}

@media only screen and (min-width: 1024px) {
  .productMain-Navbar {
    display: flex;
    flex-direction: column;
    box-shadow: #525d66 0px 0px 18px -8px;
  }
  .productMain-Navbar > .product-BrandContainer {
    display: flex;
  }
  .productMain-Navbar > .product-LinkContainer {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    background-color: #6ab547;
  }
  .productMain-Navbar > .product-LinkContainer > li {
    background-color: transparent;
  }
  .productMain-CardContainer {
    display: flex;
    flex-flow: row wrap;
    margin: 4rem 0 4rem 0;
  }
  .productMain-CardContainer > .mainCard {
    width: 45%;
  }
  .productMain-CardContainer > .mainCard:hover {
    animation: hoverMainCard 4s infinite ease-in;
  }
  .productMain-CardContainer > .mainCard > img {
    width: 100%;
    height: 300px;
  }
  .productMain-CardContainer > .mainCard > .mainCard-Text_Container {
    height: 150px;
    text-align: center;
  }
  .productMain-CardContainer > .mainCard > .mainCard-Text_Container > h1 {
    font-size: 2.3rem;
    font-weight: 600;
  }
  .productMain-CardContainer > .mainCard > .mainCard-Text_Container > span {
    font-size: 1.5rem;
  }
}
.scroller__inner {
  display: flex;
  flex-direction: row;
  justify-items: center;
  padding: 2rem 0 2rem 0;
  gap: 6rem;
}
.scroller__inner > li {
  display: flex;
  justify-items: center;
  width: 400px;
  list-style: none;
}
.scroller__inner > li > img {
  height: auto;
  animation: none;
}

.scroller[data-animated=true] {
  overflow: hidden;
  -webkit-mask: linear-gradient(90deg, transparent 0%, white 20%, white 80%, transparent 100%);
          mask: linear-gradient(90deg, transparent 0%, white 20%, white 80%, transparent 100%);
}

.scroller[data-animated=true] .scroller__inner {
  animation: scrollAnimation 30s linear infinite;
}

@keyframes scrollAnimation {
  0% {
    transform: translate(0);
  }
  100% {
    transform: translate(calc(-50% - 3rem));
  }
}
@keyframes hoverMainCard {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.02);
  }
  50% {
    transform: scale(1.01);
  }
  75% {
    transform: scale(1.04);
  }
  100% {
    transform: scale(1);
  }
}
.cardProduct {
  transition: scale 300ms ease-in-out;
  transform-origin: center;
  transform: rotateX(var(--mouseDegX)) rotateY(var(--mouseDegY)) translateX(var(--mousePxX)) translateY(var(--mousePxY));
}/*# sourceMappingURL=App.css.map */